body {

    .preloader {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .counter {
            position: absolute;
            font-family: Poppins;
            font-size: 7rem;
            font-weight: 900;
            color: #fff;
            mix-blend-mode: difference;
        }

        .loader {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #000;
        }
    }
}