.desc__contact {
    padding-top: 100px !important;
    padding-bottom: 50px;
    @media (min-width: 700px) {
        max-width: 800px;
        margin: auto;
    }
}

.contact {
    color: white;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    .contact__logo {
        font-size: 3em !important;
        color: white;
        text-align: center;
        margin: auto;

        span {
            color: red;
        }
        @media (min-width: 700px) {
            max-width: 500px;
        }
    }

    .contact__wrapper {
        box-shadow: 0 0 20px 0 rgba(225, 255, 255, 0.3);
        .contact__wrapper > * {
            padding: 1em;

            @media (min-width: 700px) {
                padding: 2em;
            }
        }

        @media (min-width: 700px) {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .contact__form form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .block {
                grid-column: 1/3;
            }

            p {
                margin: 0;
                padding: 1em;
            }
            button,
            input,
            textarea {
                width: 100%;
                padding: 0.7em;
                border: none;
                background: none;
                outline: 0;
                color: white;
                border-bottom: 1px solid red;
            }

            button {
                background: red;
                border: 0;
                text-transform: uppercase;
                padding: 1em;
                color: black;
                &:hover,
                &:focus {
                    background: #d63031;
                    color: white;
                    transition: background-color 1s ease-out;
                    outline: 0;
                }
            }
        }

        .contact__info {
            background-color: black;
            color: white;

            a {
                color: red;
                @media (min-width: 700px) {
                    color: red;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                li {
                    padding: 0.3em;
                }
            }

            h4,
            ul,
            p {
                text-align: center;
                margin: 0 0 1rem 0;
                color: white;
            }

            ul,
            p {
                @media (min-width: 800px) {
                    padding: 1em;
                    text-align: left;
                }
            }
            .info__p {
                @media (min-width: 800px) {
                    text-align: center;
                }
            }
        }
    }
}
