.page .footer {
    background-color: #202020;
    color: $color_submenus;
    border-top: 2px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    align-self: flex-end;

    @each $footer in footer__grid--uno, footer__grid--dos {
        .#{$footer} {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media (max-width: 990px) {
                padding-top: 0;
                padding-bottom: 1rem;
            }
        }
    }

    i {
        letter-spacing: 0.184em;
    }
    .footer__enlace {
        color: red;
    }
    .footer__red-social {
        color: rgb(255, 255, 255);
        margin-left: 15px;
        :hover {
            color: royalblue;
        }
        @media (max-width: 990px) {
            text-align: left;
            display: block;
        }
    }

    .footer__grid--uno {
        @media (max-width: 990px) {
            margin: auto;
        }
    }
}
