.section__nosotros {
    background-color: black;
    border-top: 2px solid red;
    padding: 80px;
    @media (max-width: 700px) {
        padding: 0;
        text-align: center;
    }

    .section__nosotros--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .section__grid1 {
            text-align: center;
            margin: auto;
           
            @media (max-width: 700px) {
                grid-column: 1/4;
                
            }
        }
        .section__grid2 {
            grid-column: 2/4;
            padding-top: 46px;
            @media (max-width: 700px) {
                grid-column: 1/4;
                padding-top: 0;
            }
        }
        .section__grid3 {
            grid-column: 1/2;
            @media (max-width: 700px) {
                grid-column: 1/4;
            }
        }
        .section__grid4 {
            grid-column: 2/4;
            grid-row: 2/5;
            margin: auto;
            @media (max-width: 700px) {
                display: none;
            }
        }
        .section__grid5 {
            grid-column: 1/2;
            @media (max-width: 700px) {
                grid-column: 1/4;
            }
        }
        .section__grid6 {
            grid-column: 1/2;
            @media (max-width: 700px) {
                grid-column: 1/4;
            }
        }
        .section__grid7 {
            grid-column: 1/2;
            @media (max-width: 700px) {
                grid-column: 1/4;
            }
        }

        .section__grid8 {
            grid-column: 1/4;
            text-align: center;
        }
        .section__grid9 {
            grid-column: 1/4;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @media (max-width: 700px) {
                grid-template-columns: 1fr;
            }
            .section__grid9--item {
                text-align: center;
            }
        }
    }

    
}
